* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}

.btn-phone {
  height: 64px;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
}

.header {
  width: 1600px;
  height: 837px;
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: 50%, 5%;
}

img {
  margin-top: 214px;
}
/* Header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
/* banner style */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 200px;
}

.banner-title {
  font-weight: 700;
  font-size: 85px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-desc {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}

/* About section section */

.about-me {
  text-align: center;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.section-desc {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  font-size: 20px;
  color: #757575;
}

.info-desc {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What i do styles */

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-desc {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

/* Resume Styles */
.resume-container {
  display: flex;
  gap: 24px;
}

.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume .resume-desc {
  color: #757575;
}

.resume-items {
  margin-top: 30px;
  margin-bottom: 30px;
}

.resume-button {
  margin-top: 50px;
  text-align: center;
}

/* contact styel */

.contact {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
}

.contact input[type='text'],
input[type='email'],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

input {
  height: 64px;
}
.contact a {
  text-decoration: none;
}
